### Q1. Create one variable containing following type of data:
    (i) string
    (ii) list
    (iii) float
    (iv) tuple

In [1]:
IR = ["Irfan",[5,10,15],245.54,(4,3,9)]

In [2]:
IR

['Irfan', [5, 10, 15], 245.54, (4, 3, 9)]

In [3]:
type(IR)

list

### Q2. Given are some following variables containing data:
    (i) var1 = ‘ ‘
    (ii) var2 = ‘[ DS , ML , Python]’
    (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
    (iv) var4 = 1.
What will be the data type of the above given variable.

In [4]:
var1 = 'Irfan'
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1.
print(type(var1),type(var2),type(var3),type(var4))

<class 'str'> <class 'str'> <class 'list'> <class 'float'>

### Q3. Explain the use of the following operators using an example:
    (i) /
    (ii) %
    (iii) //
    (iv) **

In [5]:
# Division operator(/)->This operator is used to obtain float data value
a=10
b=5
print(a/b)

2.0

In [6]:
# Modulus operator(%)->This operator is used to find remainder
z = 20
x = 6
print(z%x)

2

In [7]:
# Floar Division(//)->This operator help us to find how many time the operation completed
p = 50
q = 10
print(p//q)

5

In [8]:
# Exponent Operator(**)->This operator is used to find how many times same values are multipied
s = 5**2
s

25

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [9]:
list = [10,25,15.5,True,False,'Irfan',(4,5,6),[6,7,8],{14,'irfi',45.5},5457]
list

[10,
 25,
 15.5,
 True,
 False,
 'Irfan',
 (4, 5, 6),
 [6, 7, 8],
 {14, 45.5, 'irfi'},
 5457]

In [10]:
for i in list:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'int'>

In [11]:
len(list)

10

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
A = int(input())
B = int(input())
while A%B==0:
    print('A is divisible by B', 'and A is divisible by B for', A/B, 'times')
    break
else:
    print('A is not divisible by B')

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
print(list1)

for i in list1:
    if i%3==0:
        print(i, 'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
#Mutable data type:-> A data type which can be edited/do any changes such as, replacing,removing..etc called Mutable datatype.
IR = [10,25.5,'Irfan',True]
print(IR)
print(type(IR))
print(IR[0])
print(IR.pop())
print(IR)

#Immutable data type:-> A data type which cannot be edited or do not make any changes such as(tuple,string,number)-replacing

In [ ]:
t = ('Irfan',5,25.5,False)
print(t)
print(type(t))
print(t[0])
print(t[1]=45) #due to replacing by indexing